{% extends 'base.html'%}

{% block title %}

{% endblock title %}

{% block content %}



<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipt_list %}
            <tr>
                <td>{{receipt.vendor}}</td> <!--vendor-->
                <td>{{receipt.total}}</td> <!--total-->
                <td>{{receipt.tax}}</td> <!--tax-->
                <td>{{receipt.date|date:"m/d/y"}}</td> <!--date-->
                <td>{{receipt.category.name}}</td> <!--category-->
                <td>{{receipt.account.name}}</td> <!--account-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content%}
